body{
    background-color: #EEEEEE;
    line-height: 1.5em;
    font-size: 24pt;
}
.lang{
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    background-color: #CCCCCC;
    padding: 3px 10px;
}