@model Ads.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Change password</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    @Html.ActionLink("Back to Ads", "Index", "Home")
</div>